<!--
/**
 * Glory to Ukraine! Glory to the heros!
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
<default>
     <test>
         <email>
             <send_email>send_reply_email_template</send_email>
         </email>
     </test>
</default>
</config>
