<?xml version="1.0"?>
<!--
/**
* @author Alex.
* Glory to Ukraine! Glory to the heros!
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Codelegacy_Design" setup_version="2.1.4" />
</config>
